@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    padding-bottom: 10px;
    min-height: 100vh;
}

.my-nav {
    border-bottom: 1px solid grey;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: black !important;
}

.my-nav-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.my-nav-inner-right {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.nav-icon-container {
    padding: 15px;
}

.theme-selector-container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.theme-selector-dropdown {
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: whitesmoke !important;
    color: black !important;
}

.theme-item {
    padding: 5px;
    width: 100%;
}





/* products */

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.product-card {
    width: 300px;
    border-radius: 6px;
    border: 1px solid grey;
    background-color: whitesmoke;
}

.product-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.product-image-container {
    overflow: hidden;
    height: 300px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.product-description {
    font-weight: bold;
    padding: 15px;
}

.add-product-button {
    width: 150px;
    margin: auto;
    text-align: center;
}

/* form */

.my-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}









/* utils */

.loading-blurb {
    max-width: 600px;
    margin: 30px auto;
    padding: 15px;

    background-color: whitesmoke;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.loading-blurb h2 {
    font-weight: 600;
    font-size: 24px;
}

.my-main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.my-heading {
    font-size: 26px;
    font-weight: 900;
    text-align: center;
}

.hover:hover {
    cursor: pointer;
    background-color: rgb(229, 228, 228);
    transition: background-color 0.2s ease;
}

.hide {
    display: none;
}