@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-nav {
    background-color: rgb(245, 234, 215);
}

.my-nav-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 40px;
    margin: auto;
    background-color: rgb(186, 219, 232);
}

.my-nav-inner-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(192, 235, 192);
}

.my-nav-inner-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;



    background-color: rgb(192, 235, 192);
}

.theme-selector-container {
    background-color: green;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.theme-selector {
    background-color: yellow;
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 0;
}



.hide {
    display: none;
}

.hover:hover {
    cursor: pointer;
}