@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-nav {
    border-bottom: 1px solid grey;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: whitesmoke !important;
    color: black !important;
}

.my-nav-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.my-nav-inner-right {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.nav-icon-container {
    padding: 10px;
}

.theme-selector-container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.theme-selector-dropdown {
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: whitesmoke !important;
    color: black !important;
}

.theme-item {
    padding: 5px;
    width: 100%;
}

/* main */
.my-main {
    max-width: 1200px;
    margin: auto;
}
















/* utils */

.my-heading {
    font-size: 26px;
    font-weight: 900;
    text-align: center;
}

.hover:hover {
    cursor: pointer;
    background-color: rgb(229, 228, 228);
    transition: background-color 0.2s ease;
}

.hide {
    display: none;
}